.app {
   width: 100%;
   min-height: 100vh;
   padding: 100px 0;
   background: #2f2f2f;
   color: aliceblue;
   display: flex;
   align-items: center;
   justify-content: center;
}

.content {
   min-height: max-content;
}
