.movi_item {
   width: 100%;
   padding: 5px;
   border: 1px solid rgba(255, 255, 255, 0.138);
}

.movi_item_content {
   display: flex;
   align-items: center;
}
.item_title {
   flex: 1 1 85%;
}

.item_icons {
   margin: 0 20px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex: 1 1 15%;
}
